* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-navbar: #404041;
  --color-white: #fff;
  --color-primary: #ff9926;
  --color-primary-variant: #f59322;
  --color-body-background: #f0f0f0;
}

body {
  background: var(--color-body-background);
}
.navContainer {
  background: var(--color-navbar);
  display: flex;
  justify-content: space-between;
  padding: 10px 35px;
}

.navLeft {
  display: flex;

  align-items: center;
  padding: 0px;
  gap: 11px;
}
.dasboardTitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-white);
}

.logoTag {
  padding: 3px 7px;
  background: var(--color-white);
  border-radius: 29px;
}

.navRight {
  display: flex;

  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 10px;
}
.supportText {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 7px;
  gap: 8px;
}

.supportFont {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: rgba(255, 255, 255, 0.87);
}

.adminProfile {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
  background: #242424;
  border-radius: 5px;
}

.profileText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-white);
}

/* Header Container */
.adminDashboardContainer {
  margin: 1rem 1rem;
}

.adminDashboardWrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c7c7c8;
  margin: 1rem 1rem;
  padding: 1rem;
}
.headerSelectContianer {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 14px;
}

.inventoryText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  /* identical to box height */
}
.headerInputContainer {
  display: flex;

  align-items: center;
  justify-content: space-between;
  padding: 0px 12px;
  isolation: isolate;

  width: 320px;
  height: 40px;

  border: 1px solid var(--color-primary);

  background: var(--color-white);
  border-radius: 5px;
}

.headerLeft {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 20px;
}

.dealerText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 143%;
  /* identical to box height, or 23px */
  letter-spacing: 0.17px;

  color: rgba(0, 0, 0, 0.87);
}

.filterText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.headerFilterContianer {
  display: flex;

  align-items: center;
  padding: 0px;
  gap: 14px;
}

/* Recent Wrapper*/

.recentWrapper {
  margin: 2rem;
}

.recentText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 143%;
  /* identical to box height, or 23px */
  letter-spacing: 0.17px;

  color: rgba(0, 0, 0, 0.87);
}

/* Data Number Container*/

.dataNumberContainer {
  display: flex;

  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}

/*Data Box Container */
.dataNumberContainer {
  margin: 2rem;
}
.databox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 25px 24px;
  gap: 5px;

  width: 178px;
  height: 113px;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.1));
  background: var(--color-white);
  border-radius: 5px;
}

.dataBoxHeader {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}

.dataBoxFooter {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: var(--color-primary);
}

/* Graph plot container */
.dashboardGraphContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 25px;
  margin-left: 2rem;
}

.inventoryGraphHeader,
.moneyDataHeader {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 20px;
  margin-bottom: 1rem;
}

.graphHeaderText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 143%;

  letter-spacing: 0.17px;

  color: rgba(0, 0, 0, 0.87);
}

.graphBtn {
  border: 1px solid var(--color-primary-variant);
  color: #000000;
  background: var(--color-white);
  border-radius: 4px;
  padding: 0px 16px;
  width: 65px;
  height: 44px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  text-transform: uppercase;
}

.graphBtn:hover {
  cursor: pointer;
}

.btn-active {
  background: var(--color-primary);
  color: var(--color-white);
}

.inventoryGraphPlot,
.moneyDataGraphPlot {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1rem;
  gap: 44px;

  width: max-content;
  height: 474px;

  /* Shadow 1 */
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.1));

  background: var(--color-white);
  border-radius: 5px;
}
